In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
os.chdir('../../')
os.getcwd()

'/home/linh/projects/IConNet'

In [3]:
import glob
import numpy as np
import pandas as pd

In [6]:
data_dir = '../data/physio2016/validation/'

In [20]:
df = pd.read_csv(
    f'{data_dir}REFERENCE.csv', 
    header=None, 
    names=['filename', 'label'])
df

    filename  label
0      a0001      1
1      a0002      1
2      a0003      1
3      a0004      1
4      a0005      1
..       ...    ...
296   e00622      1
297   e00627      1
298   e00648      1
299   e00657      1
300   e00670      1

[301 rows x 2 columns]

In [11]:
import soundfile as sf

In [21]:
y, sr = sf.read(
    data_dir + df["filename"].values[0] + '.wav')
sr

2000

In [22]:
def load_audio(filename):
    path = data_dir + filename + '.wav'
    y, sr = sf.read(path)
    return y

In [23]:
df['audio'] = df['filename'].apply(load_audio)

In [24]:
classname = {1: 'abnormal', -1: 'normal'}

In [25]:
df['classname'] = df['label'].apply(
    lambda x: classname[x]
)

In [26]:
df

,filename,label,audio,classname
0,a0001,1,"[-0.002105712890625, -0.004119873046875, -0.00...",abnormal
1,a0002,1,"[0.009063720703125, 0.022216796875, 0.02377319...",abnormal
2,a0003,1,"[-0.00384521484375, -0.00933837890625, -0.0080...",abnormal
3,a0004,1,"[0.01068115234375, 0.021453857421875, 0.018280...",abnormal
4,a0005,1,"[-0.001678466796875, -0.002960205078125, -0.00...",abnormal
...,...,...,...,...
296,e00622,1,"[-0.003143310546875, -0.01483154296875, 0.0204...",abnormal
297,e00627,1,"[-0.0006103515625, -0.0150146484375, 0.0392150...",abnormal
298,e00648,1,"[-0.003814697265625, -0.012908935546875, 0.012...",abnormal
299,e00657,1,"[0.0108642578125, -0.035308837890625, 0.141845...",abnormal
300,e00670,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",abnormal

In [30]:
df['audio'][300]

array([0.        , 0.        , 0.        , ..., 0.05380249, 0.0574646 ,
       0.0456543 ])

In [31]:
df['length'] = df['audio'].apply(len)

In [32]:
df['length'].describe()

count       301.000000
mean      42180.355482
std       28606.650984
min       10611.000000
25%       16000.000000
50%       41378.000000
75%       61998.000000
max      243997.000000
Name: length, dtype: float64

In [33]:
label_transform = {'abnormal': 0, 'normal':1}

In [34]:
df['label'] = df['classname'].apply(lambda x: label_transform[x])

In [35]:
preprocess_dir = '../data/data_preprocessed/heartsound/preprocessing/'

In [36]:
np.save(f'{preprocess_dir}heartsound.audio2k.validation.npy', 
        df['audio'], 
allow_pickle=True)

In [37]:
np.save(f'{preprocess_dir}heartsound.label_binary.validation.npy', 
        df['label'], 
allow_pickle=True)